body {
  display: flex;
  flex-direction: column;
  background-color: #edddd0;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  order: 1;
  color: #2b4950;
  text-align: center;
}

main {
  position: relative;
}

nav {
  order: 2;
  color: #2b4950;
  text-align: right;
  font-size: 1rem;
}

ul {
  color: #2b4950;
  list-style-type: square;
}
#TextBox {
  order: 3;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 2px solid #2b4950;
  background-color: #f9f3ec;
  margin: 1em;
}

.button {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.New_note {
  order: 3;
  background-color: #5394a0;
}

.dark_theme {
  order: 3;
  background-color: #6f6a87;
  float: right;
}

.save_button {
  background-color: #5394a0;

  order: 5;
  text-align: end;
}

.Cancel {
  background-color: #d9827c;

  order: 5;
  float: right;
}

aside {
  order: 6;
  background-color: #f9f3ec;
  position: static;
}

footer {
  order: 7;
  color: #2b4950;
  text-align: center;
}

@media (min-width: 601px) {
  body {
    background-color: #edddd0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
  }

  main {
    background-color: #edddd0;
    position: relative;
  }

  h1 {
    color: #2b4950;
    text-align: center;
    grid-row: 1;
    grid-column: 1/4;
  }

  nav {
    color: #2b4950;
    grid-row: 2;
    grid-column: 4/4;
    text-align: end;
    margin: 1em;
  }

  aside {
    grid-row: 1/4;
    grid-column: 1;
    background-color: #f9f3ec;
    position: static;
    margin: 0;
    padding: 0;
  }

  ul {
    color: #2b4950;
    list-style-type: square;
  }
  footer {
    color: #2b4950;
    grid-column: 1;
    grid-row: 6;
    text-align: center;
  }

  #TextBox {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid #2b4950;
    background-color: #f9f3ec;
    grid-row: 4;
    grid-column: 2/4;
    margin: 1em;
    position: relative;
  }

  #button {
    border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;

    margin: 1em;
  }

  .New_note {
    background-color: #5394a0;

    grid-column: 3/4;
  }

  .dark_theme {
    background-color: #6f6a87;
    grid-column: 4/4;
    float: right;
  }

  .save_button {
    background-color: #5394a0;

    grid-column: 3/4;
    grid-row: 5;
    float: inline-end;
  }

  .Cancel {
    background-color: #d9827c;

    grid-column: 4/4;
    grid-row: 5;

    padding: 10px;
    float: right;
  }
}
